.tableContainer {
  max-height: calc(100vh - 240px);
}

.table {
  min-width: 640px;
}

@media (max-width: 500px) {
  .table {
    min-width: 0;
  }

  .tableCell {
    padding: 6px !important;
  }
}
